.chores {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; 
    font-size: 1.5em; 
    font-weight: 400; 
    line-height: 32px;
    color: tomato;
}

.chores h3 {
    text-decoration: underline;
}

.chores li {
    font-style:italic;
}